*.class

# Package Files #
*.jar
*.war
*.ear

#ant specific
ACME_Bank_Client/dist/
ACME_Bank_Client/build/
ACME_BankingSystem/dist/
ACME_BankingSystem/build/
 
#netbeans specific
ACME_Bank_Client/nbproject/*
!ACME_Bank_Client/nbproject/project.properties
!ACME_Bank_Client/nbproject/project.xml
ACME_BankingSystem/nbproject/*
!ACME_BankingSystem/nbproject/project.properties
!ACME_BankingSystem/nbproject/project.xml
ACME_BankingSystem/ACME_BankingSystem-ejb/nbproject/*
!ACME_BankingSystem/ACME_BankingSystem-ejb/nbproject/project.properties
!ACME_BankingSystem/ACME_BankingSystem-ejb/nbproject/project.xml
ACME_BankingSystem/ACME_BankingSystem-war/nbproject/*
!ACME_BankingSystem/ACME_BankingSystem-war/nbproject/project.properties
!ACME_BankingSystem/ACME_BankingSystem-war/nbproject/project.xml
/BeansLib/nbproject/private/
/BeansLib/build/
/ACME_BankingSystem/ACME_BankingSystem-war/build/
/ACME_BankingSystem/ACME_BankingSystem-war/dist/
/BeansLib/dist/
/ACME_BankingSystem/ACME_BankingSystem-ejb/build/
/ACME_BankingSystem/ACME_BankingSystem-ejb/dist/
/JSPApp/nbproject/private/
/ACME_HomeLoan/nbproject/private/
/ACME_HomeLoan/ACME_HomeLoan-war/nbproject/private/
/ACME_HomeLoan/ACME_HomeLoan-ejb/nbproject/private/
/ACME_HomeLoanSystem/nbproject/private/
/ACME_HomeLoanSystem/ACME_HomeLoanSystem-war/nbproject/private/
/ACME_HomeLoanSystem/ACME_HomeLoanSystem-ejb/nbproject/private/
/ACME_HomeLoan_Client/nbproject/private/
/ACME_HomeLoanSystem/ACME_HomeLoanSystem-ejb/build/
/ACME_HomeLoanSystem/ACME_HomeLoanSystem-war/build/
/ACME_HomeLoanSystem/ACME_HomeLoanSystem-ejb/dist/
/ACME_HLoanSystem/nbproject/private/
/ACME_HLoanSystem/build/
/ACME_HomeLoanSystem/build/
/ACME_HomeLoanSystem/dist/
/ACME_HomeLoan_Client/build/
/ACME_HomeLoan_Client/dist/
/ACME_HomeLoanSystem/ACME_HomeLoanSystem-war/dist/
/JSPApp/build/
/JSPApp/dist/
/ACME_Investors/nbproject/private/
/ACME_Investors/build/
/ACME_Investors/dist/